<section class="container">
  <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
      {{#each date }}
        <time><h5>{{ formatDate @key }}</h5></time>
        <article class="list-group">
          {{#each this }}
            {{> channel this}}
          {{/each}}
        </article>
      {{/each}}
      </div>
  </div>
</section>