<section class="container">
  <div class="jumbotron">
    <h1>Welcome to {{title}}</h1>
    <p>Check out our new channels page for course informations</p>
    <p><a href="/channels" class="btn btn-success btn-lg">Visit Channels</a></p>
  </div>
</section>