body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-group-item .row {
  padding-bottom: 20px;
  padding-top: 10px;
}

.list-group-item-heading {
  padding-bottom: 10px;
}

.img-circle{
  height: 60px;
  width: 60px;
}

@media (max-width: 992px) {
  #subject {
    padding-left: 35px;
  }
}